body {
    background-color: #fff;
    font-family: "メイリオ", Meiryo;
}


/* ******************************
header 
******************************* */

header {
    margin-top: 0!important;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-bottom: 1px solid #505050;
    box-shadow: 0 3px 3px -3px #505050;
}

div#header_inner {
    width: 960px;
    height: 200px;
    background-color: #fff;
    margin: 0 auto;
    border-bottom: 1px solid #505050;
}

div#header_inner h1 {
    font-family: 'Lato', sans-serif;
    /* font-weight: bold; */
    letter-spacing: 0.1em;
    color: #333;
}

div#header_inner nav {
    float: right;
}

div#header_inner div {
    width: auto;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
}

div nav ul {
    display: flex;
}

div nav ul li a {
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #333;
}

div nav ul li a:hover {
    text-decoration: underline;
}


/* ******************************
footer 
******************************* */

footer {
    width: 100%;
    height: 100px;
    margin: 80px auto 0 auto;
    border-top: 1px solid #505050;
    box-shadow: 0 1px 3px -3px #505050;
}

footer p {
    padding-top: 10px;
    text-align: center;
}