.lessonLearned {
  background-color: lightblue;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  padding: 15px;
  border: solid 2px #6091d3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  overflow-wrap: break-word;
}
