/* ******************************
learn.html
******************************* */


/* ******************************
wrapper
******************************* */

div#wrapper {
    width: 960px;
    height: 1000px;
    display: flex;
    margin: 0 auto;
}


/* ******************************
main
******************************* */

div#main p {
    margin: 10px 0 0 10px;
    line-height: 1.5;
    margin-bottom: 20px;
}

div#main ul {
    padding-left: 15px;
}

div#main ul>li.first_child a {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
}

div#main ul>li.first_child {
    margin-bottom: 30px;
}

div#main ul>li.first_child ul li {
    font-weight: initial;
    font-size: 14px;
    line-height: 2;
}


/* ******************************
sample app
******************************* */

div#sampleapp_wrapper {
    width: 960px;
    height: auto;
    margin: 0 auto;
}

div.sampleapp {
    width: 500px;
    height: auto;
    border: 1px solid black;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}

div.sampleapp label {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

div.sampleapp input,
div.sampleapp textarea {
    width: 200px;
}

div.sampleapp textarea {
    height: 100px;
}

div#tasks_js,
div#tasks_jq {
    margin-top: 50px;
}

div.sampleapp table {
    margin-bottom: 30px;
}

div.sampleapp table th {
    width: 150px;
}

div.sampleapp table td {
    text-align: center;
}

div.sampleapp ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

div.sampleapp ul div.row {
    display: flex;
    text-align: center;
}

div.sampleapp ul div.row li {
    list-style: none;
    width: 150px;
    height: 30px;
    border: 1px solid black;
}