<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href=" https://unpkg.com/sanitize.css " rel="stylesheet " />
    <link rel="stylesheet" href="/css/destyle.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Ajax</title>
    <script src="/js/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div id="sampleapp_wrapper">
      <h2>Ajaxで非同期呼び出しをします</h2>

      <div class="example">
        <button id="sample1">サンプル1 Click</button>
        <div id="result_sample1">結果がここに表示されます</div>
      </div>

      <div class="example">
        <button id="sample2">
          サンプル2 現在の都市の天気をOpenWeatherMapから取得
        </button>
        <input id="city" type="text" value="Tokyo" />
        <div id="result_sample2">結果がここに表示されます</div>
      </div>

      <div class="example">
        <button id="sample3">
          サンプル3 Azure Static Web AppsのAzure Functionを呼び出す
        </button>
        <input id="FunctionVal" type="text"/>
        <div id="result_sample3">結果がここに表示されます</div>
      </div>
    </div>
    <script src="Ajax.js"></script>
  </body>
</html>
