<h1 class="display-1">What I learn</h1>
<img src="/Image/logo.png" alt="Personal Study Logo" />
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/View/learn.html">Learn</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            About me
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a
                class="dropdown-item"
                href="https://simari1.github.io/Portfolio/#/"
                target="_blank"
                >About me</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://qiita.com/simari"
                target="_blank"
                >My blog</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
