<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href=" https://unpkg.com/sanitize.css " rel="stylesheet " />
    <link rel="stylesheet" href="/css/destyle.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="sampleapp_wrapper">
      <h2>ToDoアプリを作ります</h2>

      <div class="sampleapp">
        <h3>Vue.js版</h3>
        <div id="app">
          <div>
            <label for="name">名前</label>
            <input type="text" id="name_vjs" name="name" v-model="v_name" />
          </div>
          <div>
            <label for="title">タイトル</label>
            <input type="text" id="title_vjs" name="title" v-model="v_title" />
          </div>
          <div>
            <label for="memo">メモ</label>
            <textarea id="memo_vjs" name="memo" v-model="v_memo"></textarea>
          </div>
          <button id="button_vjs" @click="addTask">追加</button>

          <div id="tasks_vjs">
            <ul id="ul_vjs">
              <div class="row">
                <li>No</li>
                <li>名前</li>
                <li>タイトル</li>
                <li>メモ</li>
                <li>削除</li>
              </div>
              <div class="row" v-for="(todo, index) in todos" :key="todo.no">
                <li>{{todo.no}}</li>
                <li>{{todo.name}}</li>
                <li>{{todo.title}}</li>
                <li>{{todo.memo}}</li>
                <li><button @click="removeTask(index)">削除</button></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="todo_vjs.js"></script>
  </body>
</html>
