<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Study | 個人のIT学習サイト</title>
    <link rel="stylesheet" href="../css/destyle.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        //共通パーツ読み込み
        $(function() {
            $("header").load("../View/Common/header.html");
            $("footer").load("../View/Common/footer.html");
        });
    </script>
</head>

<body>
    <header>

    </header>

    <div id="wrapper">
        <div id="main">
            <p>
                こちらのページでは、主にサンプルアプリを掲載しています。<br> 左のリンクからサンプルアプリに飛ぶことができます。
            </p>
            <p>
                工事中<br>サンプルアプリが揃ったらもう少し見やすく整理します。
            </p>

            <ul>
                <li class="first_child">
                    <h2>ToDoアプリ</h2>
                    <ul>
                        <li><a href="../View/Learn/01_todo/01_todo_js.html">JavaScriptでToDoアプリを作る</a></li>
                        <li><a href="../View/Learn/01_todo/01_todo_jquery.html">JQueryでToDoアプリを作る</a></li>
                        <li><a href="../View/Learn/01_todo/01_todo_vuejs.html">Vue.jsでToDoアプリを作る</a></li>
                    </ul>
                </li>
                <li class="first_child">
                    <h2>Ajax</h2>
                    <ul>
                        <li><a href="../View/Learn/02_Ajax/02_Ajax.html">Ajaxのサンプル</a></li>
                    </ul>
                </li>
                <li class="first_child">
                    <h2>Puzzle</h2>
                    <ul>
                        <li><a href="../View/Learn/03_puzzle/puzzle.html">パズルゲーム</a></li>
                    </ul>
                </li>
                <li class="first_child">
                    <h2>掲示板アプリ（未作成）</h2>
                </li>
                <li class="first_child">
                    <h2>チャットアプリ（未作成）</h2>
                </li>
            </ul>
        </div>
    </div>
    <footer>
    </footer>
</body>

</html>