<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Study | 個人のIT学習サイト</title>
    <link rel="stylesheet" href="/css/destyle.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
      //共通パーツ読み込み
      $(function () {
        $("header").load("/View/Common/header.html");
        $("footer").load("/View/Common/footer.html");
      });
    </script>
  </head>

  <body>
    <header class="container"></header>
    <div class="container">
      <p>
        こちらのページでは、主にサンプルアプリを掲載しています。<br />
        左のリンクからサンプルアプリに飛ぶことができます。
      </p>
      <p>工事中<br />サンプルアプリが揃ったらもう少し見やすく整理します。</p>

      <ul>
        <li class="first_child">
          <h2>ToDoアプリ</h2>
          <ul>
            <li>
              <a href="/View/Learn/01_todo/01_todo_js.html"
                >JavaScriptでToDoアプリを作る</a
              >
            </li>
            <li>
              <a href="/View/Learn/01_todo/01_todo_jquery.html"
                >JQueryでToDoアプリを作る</a
              >
            </li>
            <li>
              <a href="/View/Learn/01_todo/01_todo_vuejs.html"
                >Vue.jsでToDoアプリを作る</a
              >
            </li>
          </ul>
        </li>
        <li class="first_child">
          <h2>Ajax</h2>
          <ul>
            <li>
              <a href="/View/Learn/02_Ajax/02_Ajax.html">Ajaxのサンプル</a>
            </li>
          </ul>
        </li>
        <li class="first_child">
          <h2>Puzzle</h2>
          <ul>
            <li>
              <a href="/View/Learn/03_puzzle/puzzle.html">パズルゲーム</a>
            </li>
          </ul>
        </li>
        <li class="first_child">
          <h2>JavaScript30</h2>
          <ul>
            <li>
              <a href="/View/Learn/JavaScript30/01 - JavaScript Drum Kit/index-START.html" target="_blank">01 - Drum kit</a>
            </li>
            <li>
              <a href="/View/Learn/JavaScript30/02 - JS and CSS Clock/index-START.html" target="_blank">02 - JS and CSS Clock</a>
            </li>
            <li>
              <a href="/View/Learn/JavaScript30/03 - CSS Variables/index-START.html" target="_blank">03 - CSS Variables</a>
            </li>
            <li>
              <a href="/View/Learn/JavaScript30/05 - Flex Panel Gallery/index-START.html" target="_blank">05 - Flex Panel Gallery</a>
            </li>
            <li>
              <a href="/View/Learn/JavaScript30/06 - Type Ahead/index-START.html" target="_blank">06 - Type Ahead</a>
            </li>
            <li>
              <a href="/View/Learn/JavaScript30/08 - Fun with HTML5 Canvas/index-START.html" target="_blank">08 - Fun with HTML5 Canvas</a>
            </li>
            <li>
              <a href="/View/Learn/JavaScript30/10 - Hold Shift and Check Checkboxes/index-START.html" target="_blank">10 - Hold Shift and Check Checkboxes</a>
            </li>
            <li>
              <a href="/View/Learn/JavaScript30/11 - Custom Video Player /index.html" target="_blank">11 - Custom Video Player</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <footer></footer>
  </body>
</html>
